<FilesMatch "\.(ico|pdf|jpg|jpeg|png|webp|gif|html|htm|xml|txt|xsl|css)$">
    Header set Cache-Control "max-age=31536050"
</FilesMatch>

RewriteEngine On
RewriteBase /

RewriteRule ^/?files/([^/]+)?$ files.php?name=$1 [L,QSA,NC]

RewriteRule ^/?public/([^/]+)?$ public/api.php?rquest=$1 [L,QSA,NC]
RewriteRule ^/?public/([^/]+)/(.+)?$ public/api.php?rquest=$2&namespace=$1 [L,QSA,NC]

RewriteRule ^/?login/([^/]+)?$ login.php?type=$1 [L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/.]+)$ $1.php [L]


